<div class="contenent">
  <div class="data">
    <div class="col">
      <h3 class="title">chofer</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
    <div class="col">
      <h3 class="title">camion</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
    <div class="col">
      <h3 class="title">salida</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
    <div class="col">
      <h3 class="title">destino</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
    <div class="col">
      <h3 class="title">carga</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
    <div class="col">
      <h3 class="title">diesel</h3>
      <h4>Lorem, ipsum.</h4>
    </div>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
  <div class="buttons">
    <button class="btn btn-success" (click)="insumos()">insumos</button>
    <button class="btn btn-info" (click)="estado()">estado</button>
  </div>
  <br />
</div>
